<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Terms of Service")}</h1>
        <p>

<center>Парадигма проекта “Народный Open edX” заключается в распространении современных технологий дистанционного обучения в среде производителей и потребителей учебного контента.<br>

Линия развития идёт от открытых дистанционных образовательных технологий через создание открытой образовательной среды и открытых образовательных курсов.<br>

Характерная особенность проекта - устранение психологического барьера, о сложности установки и эксплуатации платформы Open edX.<br>

Прогнозируемый результат состоит в подготовке открытых курсов для внешних агрегаторов и сервисов дистанционного обучения. При этом охват масс возможен, начиная от учителей средней школы и до профессорско-преподавательского состава вузов.

Добровольный эксплуатационный взнос на поддержку хостинга проекта можно сделать на счёт: <br></center>

Visa Card 4281 2263 4252 9552 или 4890 4940 3105 2244<br>
QIWI WALLET +79040500275<br>
Яндекс кошелёк 410012568104395</p>
    </section>
</main>
